#skipNavigation {
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
}
#skipNavigation a {
  display: block;
  left: -9000px;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 500;
  background-color: #fff;
}
#skipNavigation a:hover, #skipNavigation a:focus, #skipNavigation a:active {
  position: Absolute;
  padding: 0.2rem 0;
  left: 0;
  color: #000;
  font-size: 2rem;
  z-index: 500;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.d-flex {
  display: -webkit-box;
  display: flex;
  -ms-display: flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
}

.inner {
  max-width: 1400px;
  margin: 0 auto;
}

.wrap {
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  border: 1px solid pink;
}
header .gotoSite {
  background-color: #4568a9;
  color: #fff;
  font-size: 1.6rem;
}
header .gotoSite .d-flex {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .gotoSite .d-flex .site {
  position: relative;
  display: inline-block;
  width: 28rem;
  padding: 0 6rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
header .gotoSite .d-flex .site::after {
  position: absolute;
  top: 0.2rem;
  right: 6.2rem;
  width: 0.8rem;
  height: 1.3rem;
  background: url(../image/common/icon/icon_arrowNext_w.png) no-repeat;
  content: "";
}
header .gotoSite .d-flex ul {
  width: calc(100% - 28rem);
  border-left: 1px solid #5c7ab3;
  border-right: 1px solid #5c7ab3;
}
header .gotoSite .d-flex ul li {
  width: 33.33%;
}
header .gotoSite .d-flex ul li + li {
  border-left: 1px solid #5c7ab3;
}
header .gotoSite .d-flex ul li a {
  display: block;
  padding: 1.8rem 0;
  border-bottom: 1px solid #3b5993;
  text-align: center;
  font-size: 1.6rem;
  color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
header .gotoSite .d-flex ul li a:hover {
  background-color: #fff;
  border-bottom: 1px solid #f2f2f2;
  color: #000;
}
header .nav .navWrap {
  max-width: 1920px;
  margin: 0 auto;
  height: 9.4rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .nav .navWrap ul {
  width: 136rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .nav .navWrap ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 16.66%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
}
header .nav .navWrap ul li a {
  display: inline-block;
  height: auto;
  font-size: 2.4rem;
}
header .nav .topRight {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .nav .topRight .search {
  width: 2.8rem;
  height: 3rem;
}
header .nav .topRight .search a {
  display: block;
  width: 2.8rem;
  height: 3rem;
  background: url(../image/common/icon/icon_search_b..png) no-repeat center center;
}
header .nav .topRight select {
  margin-left: 5rem;
  width: 13.2rem;
  height: 4.2rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 2px solid #000;
  background: url(../image/common/icon/icon_arrowdown_b.png) no-repeat right 0.5rem center;
}