@charset "UTF-8";
/** 문화재현황 > 웹VR */
.subVisual--status {
  background-image: url("../image/sub/img-subVisual--01.jpg");
  background-position: center 0;
}

.returnCultural-header__inner {
  margin-bottom: 4rem;
  padding: 3rem 0;
  font-size: 1.8rem;
  line-height: 3.2rem;
  color: #ffffff;
  background: #8daae0;
  border-radius: 2rem 0 2rem 0;
  text-align: center;
}

/** 문화재현황 > 환수문화재 */
.returnCulturalList {
  display: flex;
  margin: -2rem;
}
.returnCultural-item {
  width: 50%;
  margin: 2rem;
  padding: 2rem;
  background-color: #f7faff;
  background-image: url(../image/sub/bg-returnCultural.png);
  background-repeat: no-repeat;
  background-position: right top 2.5rem;
  border: 1px solid #e3eaf5;
  border-radius: 2rem 0 2rem 0;
}
.returnCultural-item__inner {
  display: flex;
}
.returnCultural-item__right {
  margin-top: 2rem;
  margin-left: 4rem;
}
.returnCultural-img {
  width: 25rem;
  height: 25rem;
  border-radius: 1rem 0 1rem 0;
  overflow: hidden;
}
.returnCultural-img img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 1rem 0 1rem 0;
}
.returnCultural-name {
  margin-bottom: 2.5rem;
  font-size: 2.8rem;
  font-weight: 500;
}
.returnCultural-detail dt {
  position: relative;
  padding-left: 0.7rem;
  font-size: 1.6rem;
  font-weight: 500;
  color: #545454;
}
.returnCultural-detail dt span {
  font-weight: 500;
  color: #000000;
}
.returnCultural-detail dt::before {
  position: absolute;
  top: 7px;
  left: 0;
  width: 2px;
  height: 2px;
  background: #545454;
  content: "";
}
.returnCultural-detail dt + dt {
  margin-top: 1rem;
}
.returnCultural-text {
  margin-top: 3rem;
  font-size: 1.6rem;
  line-height: 3rem;
  letter-spacing: -0.5px;
  word-break: keep-all;
}

@media (max-width: 1024px) {
  .returnCultural-img {
    width: 20rem;
    height: 20rem;
  }
}
@media (max-width: 768px) {
  .returnCultural-header__inner {
    padding: 2rem;
    font-size: 14px;
    line-height: normal;
  }
  .returnCulturalList {
    margin: -1rem;
  }
  .returnCultural-img {
    margin: 0 auto;
  }
  .returnCultural-item {
    margin: 1rem;
  }
  .returnCultural-item__inner {
    flex-direction: column;
  }
  .returnCultural-item__right {
    margin-top: 20px;
    margin-left: 0px;
  }
  .returnCultural-detail dt {
    font-size: 12px;
    line-height: normal;
  }
  .returnCultural-text {
    margin-top: 15px;
    font-size: 14px;
    line-height: normal;
  }
}
@media (max-width: 576px) {
  .returnCultural-header__inner br {
    display: none;
  }
  .returnCulturalList {
    flex-direction: column;
  }
  .returnCultural-item {
    width: calc(100% - 2rem);
  }
  .returnCultural-item__inner {
    position: relative;
    flex-direction: row;
  }
  .returnCultural-item__right {
    margin-top: 0;
    margin-left: 0px;
  }
  .returnCultural-img {
    position: absolute;
    width: 12rem;
    height: 12rem;
  }
  .returnCultural-name {
    margin-bottom: 10px;
    padding-top: 5px;
  }
  .returnCultural-detail {
    min-height: 78px;
  }
  .returnCultural-name, .returnCultural-detail {
    padding-left: calc(12rem + 15px);
  }
  .returnCultural-detail dt + dt {
    margin-top: 5px;
  }
}