@charset "UTF-8";
/** 재단소개 > 공지사항 */
.subVisual--intro {
  background-image: url("../image/sub/img-subVisual--01.jpg");
  background-position: center 0;
}

/* 재단소개 > 오시는 길 */
.root_daum_roughmap .wrap_controllers {
  display: none;
}

.wayAbout-info {
  padding: 5rem;
  background: #fafcff;
  border-top: 1px solid #81a1dc;
}
.wayAbout-info dl {
  display: inline-block;
}
.wayAbout-info dl + dl {
  margin-left: 3rem;
}
.wayAbout-info dt, .wayAbout-info dd {
  display: inline-block;
  font-size: 1.8rem;
}
.wayAbout-info dt {
  margin-right: 1rem;
  font-weight: 500;
}
.wayAbout-route__inner {
  margin-top: 3rem;
}