@charset "UTF-8";
/** 재단소개 > 공지사항 */
.subVisual--intro {
  background-image: url("../image/sub/img-subVisual--01.jpg");
  background-position: center 0;
}

/* 재단소개 > 오시는 길 */
.root_daum_roughmap .wrap_controllers {
  display: none;
}

.wayAbout-info {
  padding: 5rem;
  background: #fafcff;
  border-top: 1px solid #81a1dc;
}
.wayAbout-info dl {
  display: inline-block;
}
.wayAbout-info dl + dl {
  margin-left: 3rem;
}
.wayAbout-info dt, .wayAbout-info dd {
  display: inline-block;
  font-size: 1.8rem;
  line-height: normal;
}
.wayAbout-info dt {
  margin-right: 1rem;
  font-weight: 500;
}
.wayAbout-route__inner {
  margin-top: 3rem;
}
.wayAbout-route__inner table {
  border-top: 1px solid #81a1dc;
}
.wayAbout-route__inner table tr {
  border-bottom: 1px solid #d2d5dc;
}
.wayAbout-route__inner table th {
  background: #fafcff;
  border-right: 1px solid #d2d5dc;
}
.wayAbout-route__inner table th, .wayAbout-route__inner table td {
  padding: 3rem 4rem;
  vertical-align: middle;
}
.wayAbout-route__th {
  width: 23.3rem;
}

.route-way__txt {
  margin-top: 1rem;
  font-size: 1.7rem;
  font-weight: 500;
}
.route-way__how-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.route-way__how-item--left, .route-way__how-item--right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.route-way__how-item * {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}
.route-way__how-item + .route-way__how-item {
  margin-top: 1rem;
}
.route-way__how-item--ps {
  margin-top: 1.5rem;
  font-size: 1.6rem;
}
.route-way__how-icon {
  display: inline-block;
  width: 2.2rem;
  height: 2.2rem;
  margin-right: 1.5rem;
  background-size: 2.2rem;
}
.route-way__how-icon.subway-line6 {
  background-image: url(../image/sub/icon-line6.png);
}
.route-way__how-icon.subway-lineair {
  background-image: url(../image/sub/icon-lineair.png);
}
.route-way__how-icon.bus-blue {
  background-image: url(../image/sub/icon-bus__blue.png);
}
.route-way__how-icon.bus-green {
  background-image: url(../image/sub/icon-bus__green.png);
}
.route-way__how-icon.bus-red {
  background-image: url(../image/sub/icon-bus__red.png);
}
.route-way__how-tit, .route-way__how-txt {
  font-size: 1.8rem;
}
.route-way__how-tit {
  width: 8.5rem;
  font-weight: 500;
}
.route-way__how-txt--next {
  display: inline-block;
  width: 0.8rem;
  height: 1.3rem;
  margin: 0 1rem;
  background: url(../image/common/icon/icon-next.png) no-repeat center;
  background-size: 0.8rem 1.3rem;
}

/* 재단소개 > 부서안내 */
.org-img {
  position: relative;
  width: 100%;
}
.org-img img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
.org-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: absolute;
  bottom: 7%;
  left: 0;
  width: 100%;
}
.org-item {
  position: relative;
  width: calc(20% - 8.7rem);
  height: 6.5rem;
  border: 1px solid #aab0bd;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 2px;
  background: #f5f5f5;
}
.org-item::before, .org-item::after {
  display: inline-block;
  position: absolute;
  content: "";
}
.org-item::before {
  top: -4.8rem;
  left: 50%;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 100%;
  border: 1px solid #8c8c8c;
  background: #ffffff;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1;
}
.org-item::after {
  top: -3.9rem;
  left: 50%;
  width: 1px;
  height: 4rem;
  background: #8c8c8c;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: -1;
}
.org-item.is-active {
  background: #ebf2ff;
  -webkit-box-shadow: 1rem 1rem 2rem rgba(9, 14, 46, 0.13);
          box-shadow: 1rem 1rem 2rem rgba(9, 14, 46, 0.13);
}
.org-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 1.8rem;
  font-weight: 500;
}
.org-ps {
  margin-left: 2.5rem;
  font-size: 1.8rem;
  color: #747478;
}

@media (max-width: 1400px) {
  .wayAbout-info {
    padding: 2.5rem;
  }
  .wayAbout-info__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -1.5rem -2rem;
  }
  .wayAbout-info__inner dl {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 50%;
    padding: 1.5rem 2rem;
  }
  .wayAbout-info__inner dl dt {
    margin-bottom: 1rem;
  }
  .wayAbout-info__inner dl + dl {
    margin-left: 0;
  }
  .wayAbout-route__inner table th, .wayAbout-route__inner table td {
    padding: 2rem 3rem;
  }
  .wayAbout-route__th {
    width: 17.5rem;
  }
  .route-way__how-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .route-way__how-item + .route-way__how-item {
    margin-top: 1.5rem;
  }
  .route-way__how-item--left {
    margin-bottom: 0.6rem;
  }
  .route-way__how-item--right {
    display: inline-block;
    width: 100%;
    margin: 0;
  }
  .route-way__how-item--right * {
    display: inline-block;
    line-height: normal;
  }
  .route-way__how-item--normal {
    display: inline-block;
    width: 100%;
  }
  .route-way__how-item--normal * {
    display: inline-block;
    line-height: normal;
  }
  .route-way__how-item--ps {
    line-height: normal;
  }
}