@charset "UTF-8";
/** 문화재현황 */
.subVisual--status {
  background-image: url("../image/sub/img-subVisual--01.jpg");
  background-position: center 0;
}

/** 문화재현황 > 국외문화재현황 */
.statistics-header__inner {
  margin-bottom: 4rem;
  padding: 4.3rem 0;
  font-size: 2rem;
  line-height: 3.2rem;
  color: #ffffff;
  background: #8daae0;
  border-radius: 2rem 0 2rem 0;
  text-align: center;
}
.statistics-score {
  font-size: 4.6rem;
  font-weight: 400;
}
.statistics-date {
  font-size: 1.6rem;
  font-weight: 100;
}
.statistics-tab .tab_cont {
  display: none;
}
.statistics-tab .tab_cont.on {
  display: block;
}
.statistics-tab__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.statistics-tab__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 7rem;
  font-size: 2.4rem;
  color: #b9b9b9;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  background: #fafafa;
  border: 1px solid #d6d8e0;
  border-bottom-color: #3258a0;
}
.statistics-tab__link.on {
  color: #4568a9;
  font-weight: 400;
  background: #ffffff;
  border-color: #3258a0;
  border-bottom-color: #ffffff;
}
.statistics-tab__link + .statistics-tab__link {
  border-left: 0;
}
.statistics-tab__link + .statistics-tab__link.on {
  margin-left: -1px;
  border-left: 1px solid #3258a0;
}
.statistics-cont__inner {
  padding-top: 5rem;
}
.statistics-box + .statistics-box {
  margin-top: 6rem;
}
.statistics-box .img-wrap img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.sta-img__mobile {
  display: none !important;
}

.board-table__list--statistics thead tr {
  height: 6rem;
}
.board-table__list--statistics thead tr th:not(:last-child) {
  border-right: 1px solid #d6d8df;
}
.board-table__list--statistics tbody td {
  height: auto;
  padding: 1.48rem 0;
}
.board-table__list--statistics tbody td.sta-where {
  text-align: left !important;
  padding-left: 4.4rem;
}
.board-table__list--statistics tbody td:not(:last-child) {
  border-right: 1px solid #d6d8df;
}

.sta-text__lang {
  font-size: 1.4rem;
}
.sta-text__per {
  font-size: 1.4rem;
}

/** 문화재현황 > 환수문화재 */
.returnCultural-header__inner {
  margin-bottom: 4rem;
  padding: 3rem 0;
  font-size: 1.8rem;
  line-height: 3.2rem;
  color: #ffffff;
  background: #8daae0;
  border-radius: 2rem 0 2rem 0;
  text-align: center;
}
.returnCulturalList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-flow: row wrap;
  margin-top: -2rem;
  margin-left: -2rem;
}
.returnCultural-item {
  width: calc(50% - 2rem);
  margin: 2rem 0;
  padding: 2rem;
  margin-top: 2rem;
  margin-left: 2rem;
  background-color: #f7faff;
  background-image: url(../image/sub/bg-returnCultural.png);
  background-repeat: no-repeat;
  background-position: right top 2.5rem;
  border: 1px solid #e3eaf5;
  border-radius: 2rem 0 2rem 0;
}
.returnCultural-item__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.returnCultural-item__right {
  margin-top: 2rem;
  margin-left: 4rem;
}
.returnCultural-img {
  width: 25rem;
  height: 25rem;
  border-radius: 1rem 0 1rem 0;
  overflow: hidden;
}
.returnCultural-img img {
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  border-radius: 1rem 0 1rem 0;
}
.returnCultural-name {
  margin-bottom: 2.5rem;
  font-size: 2.8rem;
  font-weight: 500;
}
.returnCultural-detail dt {
  position: relative;
  padding-left: 0.7rem;
  font-size: 1.6rem;
  font-weight: 500;
  color: #545454;
}
.returnCultural-detail dt span {
  font-weight: 500;
  color: #000000;
}
.returnCultural-detail dt::before {
  position: absolute;
  top: 7px;
  left: 0;
  width: 2px;
  height: 2px;
  background: #545454;
  content: "";
}
.returnCultural-detail dt + dt {
  margin-top: 1rem;
}
.returnCultural-text {
  margin-top: 3rem;
  font-size: 1.6rem;
  line-height: 3rem;
  letter-spacing: -0.5px;
  word-break: keep-all;
}

@media (max-width: 1024px) {
  .returnCultural-img {
    width: 20rem;
    height: 20rem;
  }
}
@media (max-width: 768px) {
  .returnCultural-header__inner {
    padding: 2rem;
    font-size: 14px;
    line-height: normal;
  }
  .returnCulturalList {
    margin: -1rem;
  }
  .returnCultural-img {
    margin: 0 auto;
  }
  .returnCultural-item {
    margin: 1rem;
  }
  .returnCultural-item__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .returnCultural-item__right {
    margin-top: 20px;
    margin-left: 0px;
  }
  .returnCultural-detail dt {
    font-size: 12px;
    line-height: normal;
  }
  .returnCultural-text {
    margin-top: 15px;
    font-size: 14px;
    line-height: normal;
  }
  .sta-text__lang {
    font-size: 12px;
  }
  .board-table__list--statistics tbody td, .board-table__list--statistics tbody td.sta-where {
    padding: 1rem 1.5rem;
  }
  .statistics-header__inner {
    padding: 2rem;
    line-height: normal;
  }
  .statistics-score {
    font-size: 22px;
  }
  .statistics-date {
    font-size: 12px;
  }
  .statistics-nation {
    font-size: 14px;
  }
  .statistics-tab__link {
    font-size: 15px;
  }
  .sta-img__pc {
    display: none !important;
  }
  .sta-img__mobile {
    display: block !important;
  }
}
@media (max-width: 576px) {
  .returnCultural-header__inner br {
    display: none;
  }
  .returnCulturalList {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .returnCultural-item {
    width: calc(100% - 2rem);
  }
  .returnCultural-item__inner {
    position: relative;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .returnCultural-item__right {
    margin-top: 0;
    margin-left: 0px;
  }
  .returnCultural-img {
    position: absolute;
    width: 12rem;
    height: 12rem;
  }
  .returnCultural-name {
    margin-bottom: 10px;
    padding-top: 5px;
    line-height: normal;
  }
  .returnCultural-detail {
    min-height: 78px;
  }
  .returnCultural-name, .returnCultural-detail {
    padding-left: calc(12rem + 15px);
  }
  .returnCultural-detail dt + dt {
    margin-top: 5px;
  }
}