.sch-wrap {
  display: flex;
  align-items: center;
}
.sch-form {
  display: flex;
  height: 50px;
}
.sch-form__select {
  min-width: 130px;
  height: 100%;
  margin-right: 3px;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid #d2d5dc;
  background-color: #fff;
  background-image: url("../image/common/icon/icon-clampDown.png");
  background-repeat: no-repeat;
  background-position: 90% center;
}
.sch-form__label {
  display: flex;
  font-size: 0;
}
.sch-form__input {
  height: 100%;
  border: 1px solid #d2d5dc;
}
.sch-form__input::placeholder {
  font-size: 16px;
  color: #000;
  font-weight: 400;
}

@media (max-width: 1024px) {
  .sch-form {
    height: 5rem;
  }
  .sch-form__select {
    line-height: 5rem;
    font-size: 1.6rem;
    background-size: 1.4rem 0.8rem;
  }
  .sch-form__input::placeholder {
    font-size: 1.6rem;
  }
  .sch-form__btn {
    width: 5rem;
    background-size: 2.2rem 2.4rem;
  }
}
@media (max-width: 576px) {
  .sch-wrap {
    flex-wrap: wrap;
  }
  .sch-wrap > * {
    width: 100%;
    margin-left: 0;
  }
  .sch-form__select {
    min-width: auto;
    flex: 1 1 30%;
  }
  .sch-form__label {
    flex: 1 1 70%;
  }
  .sch-form__input {
    width: calc(100% - 5rem);
  }
  .count-wrap {
    margin-bottom: 1.5rem;
  }
}