@charset 'utf-8';
@import 'mixin';

/** 문화재현황 */
.subVisual{
    &--status{
        background-image:url('../image/sub/img-subVisual--01.jpg');
        background-position:center 0;
    }
}

/** 문화재현황 > 국외문화재현황 */
.statistics{
    &-header__inner{
        margin-bottom: 4rem;
        padding:4.3rem 0;
        font-size: 2rem;
        line-height: 3.2rem;
        color:#ffffff;
        background: #8daae0;
        border-radius: 2rem 0 2rem 0;
        text-align: center;
    }
    &-score{
        font: {
            size:4.6rem;
            weight:400;
        }
    }
    &-date{
        font : {
            size: 1.6rem;
            weight: 100;
        }
    }
    &-tab{
        .tab_cont{
            display: none;
            &.on{
                display: block;
            }
        }
        &__list{
            display: flex;
        }
        &__link{
            display: flex;
            align-items: center;
            justify-content: center;
            height:7rem;
            font-size: 2.4rem;
            color:#b9b9b9;
            flex: 1;
            text-align: center;
            background: #fafafa;
            border:1px solid #d6d8e0;
            border-bottom-color:#3258a0;
            &.on{
                color: #4568a9;
                font-weight: 400;
                background: #ffffff;
                border-color:#3258a0;
                border-bottom-color:#ffffff;
            }
            &+&{
                border-left:0;
                &.on{
                    margin-left: -1px;
                    border-left:1px solid #3258a0;
                }
            }
        }
    }
    &-cont{
        &__inner{
            padding-top: 5rem;
        }
    }
    &-box{
        &+&{
            margin-top: 6rem;
        }
        .img-wrap{
            // margin-top: 4rem;
            img{
                display: block;
                margin: 0 auto;
                max-width: 100%;
            }
        }
    }
}
.sta{
    &-img{
        &__mobile{
            display: none !important;
        }
    }
}

.board-table__list--statistics{
    // .talign_l{
    //     text-align: left;
    // }
    thead{
        tr{
            height: 6rem;
            th{
                &:not(:last-child){
                    border-right: 1px solid #d6d8df;
                }
            }
        }
    }
    tbody{
        td{
            height: auto;
            padding: 1.48rem 0;
            &.sta-where{
                text-align: left !important;
                padding-left: 4.4rem;
            }
            &:not(:last-child){
                border-right: 1px solid #d6d8df;
            }
        }

    }
}
.sta{
    &-text{
        &__lang{
            font-size: 1.4rem;
        }
        &__per{
            font-size: 1.4rem;
        }
    }
}



/** 문화재현황 > 환수문화재 */ 
.returnCultural{
    &-header{
        &__inner{
            margin-bottom: 4rem;
            padding:3rem 0;
            font-size: 1.8rem;
            line-height: 3.2rem;
            color:#ffffff;
            background: #8daae0;
            border-radius: 2rem 0 2rem 0;
            text-align: center;
        }
    }
    &List{
        display: flex;
        flex-flow: row wrap;
        margin-bottom: -2rem;
        margin-left: -2rem;
    }
    &-item{
        width: calc(50% - 2rem);
        padding:2rem;
        margin-bottom: 2rem;
        margin-left: 2rem;
        background-color:#f7faff;
        background-image:url(../image/sub/bg-returnCultural.png);
        background-repeat: no-repeat;
        background-position: right top 2.5rem;
        border:1px solid #e3eaf5;
        border-radius: 2rem 0 2rem 0;
        &__inner{
            display: flex;
        }
        &__right{
            margin-top: 2rem;
            margin-left: 4rem;
        }
    }
    &-img{
        width: 25rem;
        height: 25rem;
        border-radius: 1rem 0 1rem 0;
        overflow: hidden;
        img{
            width: 100%;
            max-width: 100%;
            max-height: 100%;
            border-radius: 1rem 0 1rem 0;
        }
    }
    &-name{
        margin-bottom: 2.5rem;
        font: {
            size: 2.8rem;
            weight:500;
        }
    }
    &-detail{
        dt{
            position: relative;
            padding-left: .7rem;
            font: {
                size: 1.6rem;
                weight:500;
            }
            color:#545454;
            span{
                font-weight: 500;
                color:#000000;
            }
            &::before{
                position: absolute;
                top: 7px;
                left: 0;
                width:2px;
                height:2px;
                background: #545454;
                content: "";
            }
            &+dt{
                margin-top: 1rem;
            }
        }
    }
    &-text{
        margin-top: 3rem;
        font-size: 1.6rem;
        line-height: 3rem;
        letter-spacing: -.5px;
        word-break: keep-all;
    }
}




// responsive
@include media-breakpoint-down(n-md){ //1024
    .returnCultural{
        &-img{
            width: 20rem;
            height: 20rem;
        }
    }
}
@include media-breakpoint-down(n-sm){ //768px
    .returnCultural{
        &-header{
            &__inner{
                padding: 2rem;
                font-size: 14px;
                line-height: normal;
            }
        }
        &List{
            margin: -1rem;
        }
        &-img{
            margin: 0 auto;
        }
        &-item{
            margin: 1rem;
            &__inner{
                flex-direction: column;
            }
            &__right{
                margin-top: 20px;
                margin-left: 0px;
            }
        }
        &-detail{
            dt{
                font-size: 12px;
                line-height: normal;
            }
        }
        &-text{
            margin-top: 15px;
            font: {
                size:14px;
            }
            line-height: normal;
        }
    }
    .sta-text__lang{
        font-size: 12px;
    }
    .board-table__list--statistics tbody td, .board-table__list--statistics tbody td.sta-where{
        padding: 1rem 1.5rem;
    }
    .statistics-header__inner{
        padding: 2rem;
        line-height: normal;
    }
    .statistics{
        &-score{
            font-size: 22px;
        }
        &-date{
            font-size: 12px;
        }
        &-nation{
            font-size: 14px;
        }
        &-tab{
            &__link{
                font-size: 15px;
            }
        }
    }
    .sta{
        &-img{
            &__pc{
                display: none !important;
            }
            &__mobile{
                display: block !important;
            }
        }
    }
}
@include media-breakpoint-down(n-xs){ //576px
    .returnCultural{
        &-header{
            &__inner{
                br{
                    display: none;
                }
            }
        }
        &List{
            flex-direction: column;
        }
        &-item{
            width:calc(100% - 2rem);
            &__inner{
                position: relative;
                flex-direction: row;
            }
            &__right{
                margin-top: 0;
                margin-left: 0px;
            }
        }
        &-img{
            position: absolute;
            width: 12rem;
            height: 12rem;
        }
        &-name{
            margin-bottom: 10px;
            padding-top: 5px;
            line-height: normal;
        }
        &-detail{
            min-height: 78px;
        }
        &-name, &-detail{
            padding-left: calc(12rem + 15px);
        }
        &-detail{
            dt{
                &+dt{
                    margin-top: 5px;
                }
            }
        }
    }
}