@charset 'utf-8';

// margin
.m{
    &r{
        &-auto{
            margin-right:auto;
        }
    }
    &l{
        &-auto{
            margin-left:auto;
        }
    }
    &t{
        &-60{
            margin-top:60px;
        }
        &-80{
            margin-top:80px;
        }
    }
    &b{
        &-60{
            margin-bottom:60px;
        }
        &-120{
            margin-bottom:120px;
        }
    }
}