@charset 'utf-8';

// margin
.m{
    &r{
        &-auto{
            margin-right:auto;
        }
    }
    &l{
        &-auto{
            margin-left:auto;
        }
    }
    &t{
        &-60{
            margin-top:60px;
        }
        &-80{
            margin-top:80px;
        }
    }
    &b{
        &-60{
            margin-bottom:60px;
        }
        &-120{
            margin-bottom:120px;
        }
    }
}

//font
.txt{
    &-depth{
        &--01{
            font-size:24px
        }
        &--02{
            font-size:22px
        }
        &--03{
            font-size:20px
        }
        &--04{
            font-size:18px
        }
        &--05{
            font-size:16px
        }
        &--06{
            font-size:14px
        }
        &--07{
            font-size:12px
        }
    }
}